@charset "UTF-8";

h1{
  color: #5133e3;
}

body{
  text-align: center;
  background: #000;
}

.appframe{
  background: rgb(244, 244, 244);
  width: 420px;
  margin: auto;
  padding:10px;
  border-radius: 10px;
}

ul{
  list-style: none;
  padding: 0;
}

li{
  border: solid 1px #124e54;
  padding:2px;
  margin: 2px;
  border-radius: 5px;
}

li:hover{
  background: rgb(241, 190, 130);
  cursor: pointer;
}

.active{
  background: rgb(168, 162, 149);
  color: rgb(241, 55, 22);
  font-weight: bold;
}

#random{
  background: rgb(40, 159, 70);
  color: rgb(255, 255, 255);
  box-shadow: 0 2px #000;
  border-radius: 5px;
  padding: 2px 10px;
}

#random:active{
  box-shadow: none;
  position: relative;
  top:2px;
}
